.container {
    /* background-color: #888; */
}

.size_img {
    width: 1172px;
    height: 792px;
}

.red {
    opacity: .5;
    background-color: #f00;
}

.over {
    position: relative;
    top: -792px;
}

.none {
    display: none;
}